.heroArea {
    background-color: pink;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;
}


.heroArea img{
    width: 250px;
    height: 250px;
    border-radius: 160px;
    border: 6px solid #fff;
}

.heroArea h1{
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
}

.heroArea p {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

.heroArea a {
    padding: 15px 37px;
    font-size: 17px;
    background: black;
    color: #fff;
    border: navajowhite;
    border-radius: 27px;
    margin-top: 20px;
    text-decoration: none;
}


.socialM  {
    margin-top:20px
}


.socialM img {
    border: none;
    width: 40px;
    height: 40px;
    margin: 0 6px;
}

/************************************************** 
   Media Queries - Small Screens 
***************************************************/
@media screen and (max-width: 600px) {
    .heroArea {
        padding-top: 120px;
        height: auto;
        padding-bottom: 30px;
    }
    .heroArea h1{
        text-align:center;
    }


}